/* Disable tap highlight and any focus styling on all elements */
* {
  -webkit-tap-highlight-color: rgba(0,0,0,0); /* Disable the tap highlight */
  -webkit-touch-callout: none; /* Prevent long press context menu */
  user-select: none; /* Prevent text selection */
  -webkit-user-select: none;
  -moz-user-select: none;
}


.ui-wordNameInput {
  background-color: transparent;
}

.ui-picNameInput {
  background-color: #fff;
}

input {
  border: none;
  padding: 5px;
  z-index: 1000;
}

input:focus {
  outline: none;
}
.ui-wordNameInput {
  font-size: 12px;
}

.highlight{
  color:#ddd
}